<!-- 
      <script src=' https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css'>
</script>
   <script src=' https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'>
</script>
<script src='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js'>
</script>
    <script src='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css'>
</script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'>
</script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet'/> -->

<ion-view view-title="Discover">
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">


	<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Home" icon-on="icon ion-home" icon-off="icon ion-home" 
  href="#/app/discover/home">
  <ion-nav-view name="home-tab" ></ion-nav-view>
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Activities" icon-on="ion-android-walk" icon-off="ion-android-walk"
  href="#/app/discover/activities">
   <ion-nav-view name="activities-tab" ></ion-nav-view>
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Food" icon-on="ion-pizza" icon-off="ion-pizza"
  href="#/app/discover/food">
    <!-- Tab 3 content -->
     <ion-nav-view name="food-tab" ></ion-nav-view>
  </ion-tab>

   <ion-tab title="Nightlife" icon-on="ion-beer" icon-off="ion-beer"
   href="#/app/discover/nightlife">
    <!-- Tab 3 content -->
     <ion-nav-view name="nightlife-tab" ></ion-nav-view>
  </ion-tab>

   <ion-tab title="transportation" icon-on="ion-android-car" icon-off="ion-android-car"
   href="#/app/discover/transportation">
    <!-- Tab 3 content -->
     <ion-nav-view name="transportation-tab" ></ion-nav-view>
  </ion-tab>

   <ion-tab title="Shop" icon-on="ion-ios-cart" icon-off="ion-ios-cart"
   href="#/app/discover/shop">
   <ion-nav-view name="shop-tab" ></ion-nav-view>
  
    <!-- Tab 3 content -->
  </ion-tab>





</ion-tabs>
  </div>
<!--
  <ion-content>
   
    <div id="map"></div>
  </ion-content>

  <script id="templates/shop.html" type="text/ng-template">
      <ion-view view-title="Shop">
        <ion-content class="padding">
          <p>
           shop
          </p>
        </ion-content>
      </ion-view>
    </script>
-->
</ion-view>
