<ion-view view-title="Playlist">
<div class="bar bar-subheader bar-balanced">
	
  <h2 class="title ion-chevron-down"> Select Location</h2 ion-chevron-down>
  

</div>
  <ion-content>

    <h1>Playlist</h1>
  </ion-content>

  <div class="bar bar-footer bar-balanced">

  <button class="button button-clear">
  Previous Location <i class="icon ion-chevron-left"></i>
  </button>
  <div class="title">Album: {{ playlist.album}}
          </div>
  <button class="button button-clear">
<i class="icon ion-chevron-right"> Next Location</i>

  </button>
</div>

</ion-view>
